<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Webpack & Angular</title>
  </head>
  <body>
    <section ng-controller="formAppCtrl as fc" class="form-container">
      <h1>SIGN UP</h1>
      <form name="myForm" ng-submit="fc.submit(myForm)" novalidate>

        <label>
          <span>
            email address
          </span>
          <input name="email" ng-model="fc.user.email" ng-model-options="{updateOn: 'blur'}" type="email"/>
        </label>
        <div ng-messages="myForm.email.$error" style="color:maroon" role="alert">
          <div ng-message="email">Not a valid email</div>
        </div>

        <label>
          <span>
            First Name
          </span>
          <input name="firstName" ng-model="fc.user.firstName" required />
        </label>
        <div ng-messages="myForm.firstName.$touched && myForm.firstName.$error" style="color:maroon" role="alert">
          <div ng-message="required">First Name Required</div>
        </div>
        <label>
          <span>
            Last Name
          </span>
          <input name="lastName" ng-model="fc.user.lastName" required />
        </label>
        <div ng-messages="myForm.lastName.$touched && myForm.lastName.$error" style="color:maroon" role="alert">
          <div ng-message="required">Last Name Required</div>
        </div>

        <button type="submit">
          Submit
        </button>
      </form>
    </section>
    <script src="bundle.js"></script>
  </body>
</html>
